
<div class="mainContainer">
  <div class="top">
  </div>
  <div class="loginMain main">
    <div  *ngIf="showBindCouple">
      <pre class="card card-block card-header">已绑定情侣：{{bindCouple}}</pre>
    </div>
    <div  *ngIf="!showBindCouple" class="divPadding">
      <button type="button" class="btn btn-primary bindButton"
              [(ngModel)]="bindCouple" btnCheckbox
              ngDefaultControl>
        绑定情侣
      </button>
    </div>
    <div class="divPadding">
      <button type="button" class="btn btn-primary logoutButton"
              (click)="logout()" btnCheckbox
              ngDefaultControl>
        注销登录
      </button>
    </div>
  </div>
</div>

