
<div class="mainContainer">
  <div class="top">
  </div>
  <div class="loginMain main">
    <div  *ngIf="showBindCouple">
      <pre class="card card-block card-header">已绑定情侣：{{bindCouple}}</pre>
    </div>
    <div  *ngIf="!showBindCouple" class="divPadding">
      <button type="button" class="btn btn-primary bindButton"
              [(ngModel)]="bindCouple" btnCheckbox
              ngDefaultControl>
        绑定情侣
      </button>
    </div>
    <div class="divPadding">
      <button type="button" class="btn btn-primary logoutButton"
              (click)="logout(template)" btnCheckbox
              ngDefaultControl>
        注销登录
      </button>

      <template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">提示</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          登出成功
        </div>
      </template>

    </div>
  </div>
</div>
