.mainContainer{
   margin-top:40%;
    .top{
        width:50%;
        margin: 2rem auto;
        .pageChange{
            overflow: auto;
            display: flex;
            li{
                flex:1;
                float:left;
                text-align: center;
            }
            .loginItem{

            }
            .regItem{

            }
            .active{
                color:#ff7600;
                border-bottom: 2px solid #ff7600;
                width: 4rem;
                height: 2.5rem;
                display: inline-block;
            }
        }
    }
    .main{
        width: 80%;
        margin: auto;
    }
  .divPadding{
    padding-bottom: 1rem;
  }
  .inputShadow{
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 8px #ddd;
    input{
      width: 100%;
    }
    ::-webkit-input-placeholder{
      color:#ddd;
    }
  }
  .bindButton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    color: black;
    background: greenyellow;
  }
   .logoutButton {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 3rem;
     color: white;
     background: red;
   }
}

