<div>
  <div>
    <img class="cookbook-img" src="/assets/cookbook/cookbook-img.jpg"/>
  </div>
  <div>
    <ul>
      <li><div><img class="cooktype-img" src="/assets/cookbook/菜谱1.png"/><p>湘川菜</p></div></li>
      <li><div><img class="cooktype-img" src="/assets/cookbook/菜谱2.png"/><p>粤菜</p></div></li>
      <li><div><img class="cooktype-img" src="/assets/cookbook/菜谱3.png"/><p>东北菜</p></div></li>
      <li><div><img class="cooktype-img" src="/assets/cookbook/菜谱4.png"/><p>西北菜</p></div></li>
    </ul>
  </div>
  <div>

  </div>
</div>
