.mainContainer{
   margin-top:40%;
    .top{
        width:50%;
        margin: 2rem auto;
        .pageChange{
            overflow: auto;
            display: flex;
            li{
                flex:1;
                float:left;
                text-align: center;
            }
            .loginItem{

            }
            .regItem{

            }
            .active{
                color:#ff7600;
                border-bottom: 2px solid #ff7600;
                width: 4rem;
                height: 2.5rem;
                display: inline-block;
            }
        }
    }
    .main{
        width: 80%;
        margin: auto;
        .inputShadow{
            margin: 1rem;
            padding: 1rem;
            border-radius: 2rem;
            box-shadow: 1px 1px 8px #ddd;
            span{
                display: inline-block;
                width:20%;
                margin-right:5px;
                text-align: right;
                color:#999;
            }
            input{
                width: 70%;
            }
            ::-webkit-input-placeholder{
                color:#ddd;
            }
        }
    }
    .loginMain{
        
    }
    .regMain{

    }
    .bottomBtn{
        margin-top: 4rem;
        text-align: center;
        span{
            display: inline-block;
            width: 3.5rem;
            height: 3rem;
            background-size: cover;
            background-image: url('/assets/login/beforeLogin.png');
        }
        .ok{

        }
    }
   
}

